{% extends 'base.html.twig' %}

{% block title %}{{ action }} collection{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_dashboard')}} ">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create collection</li>
        </ol>
    </nav>


    <h3>{{ action|capitalize }} collection</h3>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{form_row(form.name)}}
        {{form_row(form.description)}}
        {{form_row(form.category)}}

        <label>Custom attributes</label>
        <div 
            id="custom-attributes-wraper"
            data-index="{{ form.customItemAttributes|length > 0 ? form.customItemAttributes|last.vars.name + 1 : 0 }}"
            data-prototype="{{ form_widget(form.customItemAttributes.vars.prototype)|e('html_attr') }}"
            >
            {% for customAttribute in form.customItemAttributes %}
                <div class="item">
                    {{ form_row(customAttribute) }}
                </div>
            {% endfor %}
        </div>

        <a id="add-custom-attribute" href="#">Add Atribute</a>
        
        <button type="submit" formnovalidate>{{ action|capitalize }}</button>
    {{ form_end(form)}}
    
{% endblock %}