{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>

    <div class="dashboard-titlegroup">
        {% if is_granted('ROLE_ADMIN') %}
            <h3>All collections</h3>
        {% else %}
            <h3>My collections</h3>
        {% endif %}
        <button class="btn"><a href="{{ path('app_collection_create')}} ">add collection</a></button>
    </div>

    <div class="dashboard-collections">
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collection in collections %}
            {% if loop.index >= (currentPage - 1) * itemsPerPage + 1 and loop.index <= currentPage * itemsPerPage %}
                <tr>
                    <td>{{ collection.id }}</td>
                    <td>{{ collection.name }}</td>
                    <td>{{ collection.description }}</td>
                    <td>
                        <a href="{{ path('app_collection_update', {id: collection.id}) }}">update</a>
                        <a href="{{ path('app_collection_delete', {id: collection.id}) }}" onclick="return confirm('Are you sure you want to delete this collection?')">delete</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <div class="btn-group" role="group">
            {% for page in 1..totalPages %}
                <button class='btn btn-scondary'><a href="{{ path('app_dashboard', {'page': page}) }}">{{ page }}</a></button>
            {% endfor %}
        </div>
    </div>
{# 
    {% if is_granted('ROLE_ADMIN') %}
        <h3>Users</h3>
    {% endif %} #}
    </div>

{% endblock %}
